# Lezione 2 

- Le basi 
- liste, dizionari, set, tuple

## Il primo programma

In [1]:
print("Hello, World!")

Hello, World!

Questo è un esempio di **istruzione di stampa**, che a dispetto del nome non stampa nulla su carta, limitandosi invece a **visualizzare a schermo**. 

Gli **apici** nell’istruzione segnano l’inizio e la fine del valore da stampare: non sono presenti risultato.

Le **parentesi** ci dicono che **print** è una **funzione**.

## Operatori aritmetici

In [2]:
2+3

5

In [3]:
3*2

6

In [4]:
3-2

1

3/2

In [6]:
3**2

9

divisione intera

In [30]:
5//2

2

modulo

In [31]:
5%2

1

espressioni booleane (vero-falso...)

In [33]:
'ciao'=='ciao'

True

In [34]:
'ciao'=='cia'

False

In [35]:
'ciao'!='ciao'

False

In [36]:
'23'>'1'

True

### Esercizio!

1. Quanti secondi ci sono in 42 minuti e 42 secondi?

2. Se percorrete 15km in 23 minuti, quanto vale la vostra velocità in km/h ?

## Variabili e i tipi di variabili

In [19]:
messaggio = 'parliamo di variabili'
n = 17
pi = 3.14159

In [21]:
type(pi)

float

In [12]:
print(messaggio)

parliamo di variabili

**Attenzione** Non tutti i nomi sono possibili!

In [13]:
76tromboni = 'big band'

altro@ = 1000000

class = 'corso di informatica'

SyntaxError: invalid syntax (<ipython-input-13-b4d1f9caf2e0>, line 1)

## Operazioni con Stringhe

In [16]:
s0 = 'W '
s1 = 'il concatenamento'
s2 = 'di stringhe'
s4 = '!'

# e questo è un commento :D

print(s0+s1+s2+' '+ 3*s4)

W il concatenamentodi stringhe !!!

## La formattazione e print: il metodo .format()

In [22]:
print('{}, così si formattano le {}'.format('ciao', 'stringhe'))

ciao, così si formattano le stringhe

è possibile modificare la precisione dell'output

In [26]:
import math

print('Il valore di Pi è circa {0}.'.format(math.pi))

print('Il valore di Pi è circa {0:.3f}.'.format(math.pi))

print('Il valore di Pi è circa {0:.5f}.'.format(math.pi))

Il valore di Pi è circa 3.141592653589793.
Il valore di Pi è circa 3.142.
Il valore di Pi è circa 3.14159.

ordinare diversamente l'output'

In [23]:
print('{0} and {1}'.format('spam', 'eggs'))

print('{1} and {0}'.format('spam', 'eggs'))

spam and eggs
eggs and spam

o dare addirittura un nome alle variabili da formattare

In [29]:
print('The story of {0}, {1}, and {other}.'.format('Bill', 'Manfred',
                                                       other='Georg'))

The story of Bill, Manfred, and Georg.

In [28]:
help(format)

## Esercizio!

Se uscite di casa alle 6:52 di mattina e correte 1 km a ritmo blando (8:15 minuti al km), poi 3 km a ritmo moderato (7:12 minuti al km), quindi 1 altro km a ritmo blando, a che ora tornate a casa per colazione?

provate a scrivere uno script che vi stampi il risultato

# Liste (List)

- Una lista è una sequenza di valori di qualsiasi tipo. 

- I valori che fanno parte della lista sono chiamati elementi.

- Le Liste sono **Mutabili**: possono cioè essere modificate

- le stringhe possono essere viste come tipi particolari di stringhe: ogni elemento può essere solo una lettera

- le liste possono anche essere **vuote** o **nestate** 

- il segno di due punti ":" rappresenta l'operatore di **slicing**

In [41]:
l1 = ['spam', 2.0, 5, [10, 20]]
l2 = [10, 20, 30, 40]

In [42]:
l1[0]

'spam'

In [43]:
l1[:]

['spam', 2.0, 5, [10, 20]]

In [45]:
l1[1:3]

[2.0, 5]

Modifichiamo la lista

In [47]:
print(l1[2])
l2[2] = 25
print(l2)

5
[10, 20, 15, 40]

Come scorrere una lista: **il ciclo for**

In [48]:
for x in l1:
    print(x)

spam
2.0
5
[10, 20]

Operazioni sulle liste

In [50]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
c

[1, 2, 3, 4, 5, 6]

In [49]:
print([0] * 4)

print([1, 2, 3] * 3)

[0, 0, 0, 0]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

### Metodi sulle liste

aggiungere e ordinare:

- append()
- sort()
- extend()

cancellare elementi

- pop()
- remove()
- del()

In [54]:
t = ['a', 'b', 'c']
t.append('d')
t

['a', 'b', 'c', 'd']

In [55]:
t1 = ['a', 'b', 'c']
t2 = ['d', 'e']
t1.extend(t2)
t1

['a', 'b', 'c', 'd', 'e']

In [57]:
t = ['d', 'c', 'e', 'b', 'a']
t.sort()
t

['a', 'b', 'c', 'd', 'e']

In [60]:
t = ['a', 'b', 'c']
x = t.pop(1)
print(t)
print(x)

['a', 'c']
b

In [59]:
t = ['a', 'b', 'c']
del t[1]
t

['a', 'c']

In [61]:
t = ['a', 'b', 'c']
t.remove('b')
t

['a', 'c']

### iniziamo anche con le funzioni

In [53]:
def decapita(t):
    del t[0]  

lettere = ['a', 'b', 'c']
print(lettere)
decapita(lettere)
print(lettere)

['a', 'b', 'c']
['b', 'c']

### Esercizio!

Scrivete una funzione di nome somma_nidificata che prenda una lista di liste di numeri interi e sommi gli elementi di tutte le liste nidificate. Esempio:

~~~~
t = [[1, 2], [3], [4, 5, 6]]

somma_nidificata(t)

21
~~~~